@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-100 antialiased;
  }

  h1, h2, h3 {
    @apply font-semibold tracking-tight;
  }
}
